<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<kCura.Config configSource="kCuraConnection.config"/>
	<appSettings file="appSettings.config">
		<add key="WorkspaceID" value="0"/>
		<add key="RSAPIServerAddress" value="0.0.0.0"/>
		<add key="RESTServerAddress" value="0.0.0.0"/>
		<add key="AdminUsername" value="user@email.com"/>
		<add key="AdminPassword" value="**********"/>
		<add key="SQLServerAddress" value="0.0.0.0"/>
		<add key="SQLUsername" value="sqlUser"/>
		<add key="SQLPassword" value="***********"/>
		<add key="TestWorkspaceName" value="Integration Tests"/>
		<add key="ServerBindingType" value="http"/>
		<add key="TestWorkspaceTemplateName" value="Relativity Starter Template"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
